# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
env/
ENV/
.venv/

# Jupyter
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Model files
*.h5
*.pt
*.pth

# Uploads
Flask Deployed App/static/uploads/
